body{
    background-color: rgb(61, 59, 59);
}

#timer {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 217, 0);
}

h1{
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    color: rgb(255, 217, 0);
}

#message {
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 217, 0);
}

#div{
    color: rgb(255, 217, 0);
    align-items: center;
}